/* BASIC STYLES REMOVE*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    background: #f5f5f5;
    font-family: Montserrat;
    color: black;
}

nav {
    background: #0e1321;
    padding: 0 15px;
}
a {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}
.form-container{
    margin: 100px auto ;
    width: 400px;
    background-color: #e7e7e8;
    padding: 30px;
    border-radius: 10px ;
}
.auth-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
input{
    padding: 10px 15px;
    border-radius: 10px ;
    border: 0;
}
.shdw{
    -webkit-box-shadow: 3px -4px 99px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -4px 99px -7px rgba(0,0,0,0.75);
    box-shadow: 3px -4px 99px -7px rgba(0,0,0,0.75);
}
.sign-in{
    background-color: aquamarine;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.hide{
    display: none;
}
.error{
    border:1px solid red;
}
.message{
    border: 2px solid red;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}